body, html {
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(216,227,255,1) 55%, rgba(253,230,255,1) 100%);
}

@font-face {
  font-family: SegoeIcons;
  src:url("Assets/Segoe Fluent Icons.ttf");
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: white;
  background-color: #79c0ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: texfield;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #313338;
  display: inline-flex;
}

img {
  position: relative;
  top: 5px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

h3 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 22pt;
  font-weight: lighter;
  margin-left: 10px;
  bottom: 20px;
}

h1 {
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0%);
  font-family: Helvetica;
  font-weight: 800;
  font-size: 45pt;
  color: #313338;
}

.box {
  position: fixed;
  top: 30%;
  width: 65%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: fit-content;
  background-color: #313338;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.30);
  border-radius: 10px;
}

.codeblock {
  position: relative;
  top: -10px;
  width: 95%;
  left: 0;
  height: fit-content;
  border: none;
  background-color: #313338;
  color: gray;
}

#jsblock {
  display: flexbox;
  white-space : pre-wrap !important;
}

.container {
  position: relative;
  left: 20px;
  top: 10px;
  width: 30%;
  display: inline-flex;
  background-color: #313338;
  border: none;
  font-family: consolas;
  font-weight: 500;
  font-size: 14pt;
  border-radius: 10px 10px 0px 0px;
}

p {
  color: #ccc;
  margin-left: 10px;
}

#input {
  color: #79c0ff;
  background-color: transparent;
  border: none;
  width: 22px;
  min-width: 0;
  outline: none;
  font-size: 14pt;
  margin-left: 10px;
}

#go {
  position: relative;
  color: #d2a8ff;
  background-color: transparent;
  border: none;
  width: 30px;
  outline: none;
  font-family: SegoeIcons;
  font-size: 16pt;
  cursor: pointer;
}

#copy {
  position: relative;
  color: #ccc;
  background-color: transparent;
  border: none;
  width: 30px;
  outline: none;
  font-family: SegoeIcons;
  font-size: 16pt;
  cursor: pointer;
}