/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=clike+javascript&plugins=line-numbers */
code[class*=language-],pre[class*=language-]{
  color:#ccc;background:0 0;
  font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  font-size:1em;text-align:left;
  white-space:pre;
  word-spacing:normal;
  word-break:normal;
  word-wrap:normal;
  line-height:1.5;
  -moz-tab-size:4;
  -o-tab-size:4;
  tab-size:4;
  -webkit-hyphens:none;
  -moz-hyphens:none;
  -ms-hyphens:none;
  hyphens:none
}
pre[class*=language-]{
  padding:1em;
  margin:.5em 0;
  overflow:auto
}
:not(pre)>code[class*=language-],pre[class*=language-]{
  background:#1a1a1a
}
:not(pre)>code[class*=language-]{
  padding:.1em;
  border-radius:.3em;
  white-space:normal
}
.token.block-comment,.token.comment{
  color:#999
}
.token.cdata,.token.doctype,.token.prolog{
  color:#f36d8e;
}
.token.punctuation{
  color:#e6cf67;
}
.token.attr-name,.token.deleted,.token.namespace,.token.tag{
  color:#eb696d;
}
.token.function-name{
  color:#3c8bda;
}
.token.boolean,.token.number{
  color:#ff995e;
}
.token.function{
  color: #f36d8e;
}
.token.class-name,.token.constant,.token.property,.token.symbol{
  color:#e6cf67;
}
.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{
  color:#d19fee;
}
.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{
  color:#a6da91;
}
.token.entity,.token.operator,.token.url{
  color:#58d4ce;
}
.token.bold,.token.important{
  font-weight:700;
}
.token.italic{
  font-style:italic;
}
.token.entity{
  cursor:help;
}
.token.inserted{
  color:green;
}